<section>
    <div class="container">
        <table class="table mt-5">
            <thread>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</Title></Title></th>
                    <th scope="col">Price</th>
                </tr>
            </thread>

            <tbody>
                {{#each products}}
                <tr>
                   
                    <td><img style="width:70px" src="/product-images/{{this.product._id}}.jpg"</td>
                    <td>{{this.product.Name}}</td>
                    <td>Rs.{{this.product.Price}}</td>
                   
                    <td>
                        <button class="Cart-Item-Count mr-3" onclick="changeQuantity('{{this._id}}', '{{this.product._id}}','{{user._id}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="Cart-Item-Count mr-3" onclick="changeQuantity('{{this._id}}', '{{this.product._id}}','{{user._id}}',1)">+</button>
                    </td>
                    
                    <td>
                        <a href="" class="btn btn-danger" onclick="removeItem('{{this._id}}', '{{this.product._id}}')">Remove</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>

        </table>
        <hr>
        <div class="float-right pr-5">
        <h5 class="float-left mr-5">Total:Rs. <span id="total">{{totalValue}}</span></h3><br>
        <a href="/place-order" class="mt-3 btn btn-success" style="width:100%;"><b>Place Order</b></a>
    </div>
    </div>
</section>

<script>
    function changeQuantity(cartId, proId, userId, count){
        let quantity= parseInt(document.getElementById(proId).innerHTML)
        count=parseInt(count)

        $.ajax({
            url:'/change-product-quantity',
            data:{
                user:userId,
                cart:cartId,
                product:proId,
                count:count,
                quantity:quantity
            },
            method:'post',
            success:(response)=>{
                if(response.removeProduct){
                    alert("Product removed from cart")
                    location.reload()
                }else{
                    document.getElementById(proId).innerHTML=quantity+count
                    document.getElementById('total').innerHTML=response.total
                }
               
            }
        })
    }


     function removeItem(cartId, proId){
       
        $.ajax({
            url:'/remove-item',
            data:{
                cart:cartId,
                product:proId
               
            },
            method:'post',
            success:(response)=>{
                if(response){
                    alert("Are you sure?")
                    location.reload()
                }
               
            }
        })
    }
    
</script>