<section>
    <div class="container">
        <table class="table mt-5">
            <thread>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</Title></Title></th>
                    <th scope="col">Quantity</th>
                </tr>
            </thread>

            <tbody>
                {{#each products}}
                <tr>
                   
                    <td><img style="width:70px" src="/product-images/{{this.product._id}}.jpg"</td>
                    <td>{{this.product.Name}}</td>
                   
                    <td><button class="Cart-Item-Count mr-3" onclick="changeQuantity('{{this._id}}', '{{this.product._id}}',-1)">-</button>{{this.quantity}}<button class="Cart-Item-Count ml-3" onclick="changeQuantity('{{this._id}}', '{{this.product._id}}',1)">+</button></td>
                    <td><a href="" class="btn btn-danger">Remove</a></td>
                </tr>
                {{/each}}
            </tbody>

        </table>
    </div>
</section>

<script>
    function changeQuantity(cartId, proId, count){
        $.ajax({
            url:'/change-poduct-quantity',
            data:{
                cart:cartId,
                product:proId,
                count:count
            },
            method:'post',
            success:(response)=>{
                alert(response)
            }
        })
    }
</script>